@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


#home-image {
  position: relative;
  filter: brightness(60%);
}

#home-image-text {
  position: absolute;
  top: 350px;
  color: white;
  margin-left: 100px;
  filter: none;
  text-shadow: 2px 2px 5px black;
}

#home-image-text h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 80px;
  font-weight: 400;
}

#home-image-text h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.book-widget-wrapper {
  position: absolute;
  top: 300px;
  left: 60%;
  margin-right: 116px;
  background-color: white;
  padding: 16px;
}

#book-widget {
  border: 1px solid lightgray;
  padding: 24px 32px;
}

#book-form {
  font-family: 'Source Sans Pro', sans-serif;
}

#book-form-link {
  padding-top: 10px;
  text-align: right;
}

#book-form button {
  background-color: #2a5f75;
  width: 100%;
  margin: 20px 0px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

#book-form button:hover {
  color: #2a5f75;
  background-color: #fff;
}

#book-widget-guarantee {
  text-align: center;
}
