<div id="home-image">
  <img src="../assets/img/aria_fullpage.jpg" alt="the Aria Hotel & Resort" width=1366px height=598px>
</div>
<div id="home-image-text">
  <h1>Expect nothing but</h1>
  <h1>world-class</h1><br>
  <h6>this is how we vegas</h6>
</div>
<div class="book-widget-wrapper">
  <div id="book-widget">
    <h3 class="title">Book a Room</h3>
    <hr />
    <form action="" id="book-form">
      <div class="row">
        <div class="col-xs-6">
          <label for="checkin">Check-In</label>
          <input type="date" name="checkin">
        </div>
        <div class="col-xs-6">
          <label for="checkout">Check-Out</label>
          <input type="date" name="checkout"><br><br>
        </div>
      </div>
      <div>
        <label for="guests">Guests</label><br>
        <select name="guests" class="form-control">
          <option value="1">1 Guest</option>
          <option value="2">2 Guests</option>
          <option value="3">3 Guests</option>
          <option value="4">4 Guests</option>
        </select>
      </div>
    </form>
  </div>
</div>
