<div id="footer-title">
  <h1>ARIA</h1>
</div>
<main class="footer container">
  <div class="row">
    <figure class="col-md-3 map-image">
      <img src="../assets/img/aria_map.png" alt="Aria Map" width=100%>
    </figure>
    <aside class="col-md-9">
      <section class="row">
        <div class="col-md-4">
          <h1 class="glyphicon glyphicon-credit-card"></h1>
          <h4>M Life Rewards</h4>
          <h4>Mastercard</h4>
          <hr>
          <a href="https://www.mgmresorts.com/en/mlife-rewards-program/mlife-rewards-mastercard-r3.html">
            <button class="btn btn-info">Learn More</button>
          </a>
        </div>
        <div class="col-md-4 social">
          <h1 class="glyphicon glyphicon-globe"></h1>
          <h4>Social</h4>
          <hr>
          <a href="https://www.facebook.com/aria"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/arialv"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/ARIALV/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/user/AriaLasVegas"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-md-4">
          <h1 class="glyphicon glyphicon-tag"></h1>
          <h4>Receive Offers</h4>
          <hr>
          <button class="btn btn-info">Sign Up</button>
        </div>
      </section>
      <section class="row links">
        <div class="col-md-2">
          <h5>Inquiries</h5>
        </div>
        <div class="col-md-3">
          <h5>Guest Services</h5>
        </div>
        <div class="col-md-3">
          <h5>Aria Hotel</h5>
        </div>
        <div class="col-md-4" id="best-rates">
          <img src="../assets/img/best-rates-guarantee-grey.png" alt="Best Rates Guarantee" >
        </div>
      </section>
    </aside>
  </div>
</main>
