<div id="footer-title">
  <h1>ARIA</h1>
</div>
<section class="footer container">
  <div class="row">
    <div class="col-md-3">
      <img src="../assets/img/aria_map.png" alt="Aria Map" width=100%>
    </div>
    <div class="col-md-3">
      <h1 class="glyphicon glyphicon-credit-card"></h1>
      <h4>M Life Rewards</h4>
      <h4>Mastercard</h4>
      <hr>
      <button class="btn btn-info">Learn More</button>
    </div>
    <div class="col-md-3">
      <h1 class="glyphicon glyphicon-globe"></h1>
      <h4>Social</h4>
      <hr>
      <button class="btn btn-info">Learn More</button>
    </div>
    <div class="col-md-3">
      <h1 class="glyphicon glyphicon-tag"></h1>
      <h4>Receive Offers</h4>
      <hr>
      <button class="btn btn-info">Sign Up</button>
    </div>
  </div>
</section>
