<section class="feature-list">
  <div *ngFor="let feature of features | async" class="feature feature-{{feature.width}}">
    <figure>
      <img src={{feature.image}} alt="image">
    </figure>
    <h3 class="glyphicon glyphicon-{{feature.icon}}" aria-hidden="true"></h3> 
    <h4 class="title"><a href={{feature.link}}>{{feature.title}}</a></h4>
    <p class="description">{{feature.description}}</p>
    <a href={{feature.link}}>
      <button class="button-feature" type="button">{{feature.buttonText}}</button>
    </a>
  </div>
</section>
