<nav>
  <div id="nav-logo">
    <a href=#><img id="logo-element" src="../assets/img/aria_logo.jpg" alt="aria logo" /></a>
  </div>
  <ul class="nav-secondary" id="nav-secondary--left">
    <a href=#><li>Sign In</li></a>
    <a href=#><li>Aria Sky Suites</li></a>
    <a href=#><li>Aria Tower Suites</li></a>
  </ul>
  <ul class="nav-secondary" id="nav-secondary--right">
    <a href=#><li>Guest Services</li></a>
    <a href=#><li>Itinerary</li></a>
    <a href=#><li><span class="glyphicon glyphicon-search" aria-hidden="true"></span></li></a>
  </ul>
  <ul class="nav-main">
    <li>Book a Room</li>
    <li>Hotel</li>
    <li>Entertainment</li>
    <li>Restaurants</li>
    <li>Nightlife</li>
    <li>Amenities</li>
    <li>Casino</li>
    <li>Groups & Weddings</li>
    <li>Offers</li>
    <li>Mobile App</li>
</nav>
