<nav>
  <div id="nav-logo">
    <a href=#><img id="logo-element" src="../assets/img/aria_logo.jpg" alt="aria logo" /></a>
  </div>
  <ul class="nav-secondary" id="nav-secondary--left">
    <a href=#><li>Sign In</li></a>
    <a href=#><li>Aria Sky Suites</li></a>
    <a href=#><li>Aria Tower Suites</li></a>
  </ul>
  <ul class="nav-secondary" id="nav-secondary--right">
    <a href=#><li>Sign In</li></a>
    <a href=#><li>Aria Sky Suites</li></a>
    <a href=#><li>Aria Tower Suites</li></a>
  </ul>
</nav>
