body {
  font-size: 16px;
  font-family: 'Futura', sans-serif;
}

nav li {
  list-style: none
}

a {
  color: #2a5f75;
}

.btn-info {
  background-color: #2a5f75;
  border: none;
}

.btn-info:hover {
  background-color: white;
  color: #2a5f75;
}
